<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
 Para poder traer nuestros estilos de frontend.html vamos a cargalos con la siguiente anotacion:
    <head th:replace="layout/frontend :: head(~{::title}, ~{::links})">
 Esto con el fin de poder cargar nuestros estilos
 -->
<head th:replace="layout/frontend :: head(~{::title}, ~{::link})">
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Formulario simple</title>
</head>
<body>

<div class="container">
    <header th:replace="layout/frontend :: cabecera"></header>
    <div th:replace="layout/frontend :: menu"></div>
</div>
<main class="container">
    <h2>Editar Categorias</h2>
    <div th:if="${mensaje!=null}" th:class="'alert alert-'+${clase}" th:text="${mensaje}">
    </div>
    <form name="form" th:object="${categoria}" th:action="@{/jpa-repository/categorias/editar/}+${categoria.id}" method="POST">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}" name="username" id="username" class="form-control"/>
            <div class="alert alert-danger" th:if="${errores != null && errores.containsKey('nombre')}"th:text="${errores.nombre}"></div>
        </div>
        <hr>
        <a href="javascript:void(0);" class="btn btn-info" onclick="document.form.submit()">Editar</a>
    </form>
    <!-- <img th:src="@{/images/logo.png}"> -->
</main>
<footer th:replace="layout/frontend :: footer"></footer>
<!--En la parte de abajo estamos trayendo una estructura de codigo y de esta forma reciclamos componentes -->
<div th:replace="layout/frontend :: scripts"></div>
</body>
</html>